@import "../App.scss";

@mixin light-mode{
    .landing{
        height: $height;
        width: $width;
        background-color: $secondary-color;
        color: $primary-color;
    }
}

@mixin dark-mode{
    .landing{
        height: $height;
        width: $width;
        background-color: $dark-secondary-color;
        color: $dark-primary-color;
    }
}